@model Taikhoan

<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>ĐĂNG NHẬP</h1>
				<nav class="d-flex align-items-center">
					<a asp-action="Index" asp-controller="Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a>ĐĂNG NHẬP</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">

	<div class="container">
		
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="~/ha-master/img/login.jpg" alt="">
					<div class="hover">
						<h4>Đến với trang web của chúng tôi?</h4>
						<p>Khoa học và công nghệ đang có những tiến bộ mỗi ngày, và một ví dụ điển hình là</p>
						<a asp-action="Register" asp-controller="Account" class="primary-btn">ĐĂNG KÝ NGAY</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Đăng nhập</h3>
					<form asp-action="Login" asp-controller="Account" class="row login_form" method="post" id="contactForm" novalidate="novalidate">
						<input name="backToPage" hidden value="@ViewBag.backToPage">
						<div class="col-md-12 form-group">
							<input asp-for="@Model.Email" type="text" class="form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							<span asp-validation-for="@Model.Email" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<input asp-for="@Model.Matkhau" type="password" class="form-control" placeholder="Mật Khu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mat khau'">
							<span asp-validation-for="@Model.Matkhau" class="text-danger"></span>
						</div>

						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Đăng nhập</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
<!-- start footer Area -->
